OPENAI_API_KEY=
MINIMAX_API_KEY=
SILICONFLOW_API_KEY=
DOCREADER_CALLBACK_SECRET=
DOCREADER_MAX_IN_MEMORY_SIZE_BYTES=10485760
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=agentic-rag
MINIO_SECURE=false
